.forminator-response-message, .forminator-error-message {
	color: var(--color-brand-light);
	margin-bottom: 15px;
}

.team-txt p {
	display: -webkit-box;
	-webkit-line-clamp: 9;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.more-wrapper .container :last-child {
	margin-bottom: 0;
}

.pt20 {
	padding-top: 20px !important;
}

#cancel-comment-reply-link {
	padding-left: 10px;
}

.comment-reply-title {
	text-align: center;
}

.commentlist .comment-content {
	margin-top: 0;
}

.ub-cn-privacy-policy{
	text-decoration: underline;
}

#button-to-top {
	display: inline-block;
	background-color: #fff;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	border: 2px #4e5d79 solid;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s,
	opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}

#button-to-top::after {
	content: "\f106";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 45px;
	color: #4e5d79;
}
#button-to-top:hover {
	cursor: pointer;
	background-color: #4e5d79;
	border:  #fff;
}#button-to-top:hover::after {
	 color: #fff;
}
#button-to-top:active {
	background-color: #555;
}
#button-to-top.show {
	opacity: 1;
	visibility: visible;
}
